.benefit-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

@media (max-width:768px){

.benefit-grid{
grid-template-columns:1fr 1fr;
}

}

@media (max-width:480px){

.benefit-grid{
grid-template-columns:1fr;
}

}