*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family: Arial, Helvetica, sans-serif;
width:100%;
overflow-x:hidden;
}

.container{
width:100%;
max-width:1400px;
margin:auto;
padding:0 20px;
}

@media (max-width:768px){

h1{
font-size:26px;
}

h2{
font-size:22px;
}

p{
font-size:14px;
}

}